*{
  margin: 0px auto;
  font-family: Helvetica, sans-serif;
  color: #c9c9c9;
}

body{
  background: rgb(0, 0, 0);
  background: radial-gradient(circle at center, rgba(14, 44, 64, 0.5) 23%, rgba(26, 74, 90, 0.5), rgba(20, 141, 141, 0.5), rgba(193, 225, 167, 0.5), rgba(239, 188, 117, 0.5) 100%);
  background: url(Fondo3.jpg);
  display: grid;
  min-height: 100vh;
  position: relative;
}

.espacio{
  clear: both;
}

.main{
  width: 100%;
  color: black;
}

.container{
  width: 1100px;
  display: flex;
  border: 5px solid black;
  height: 650px;
  border-radius: 10px;
}

#Arriba{
  background: url('Cabecera.jpg');
  background-size: cover;
  height: 200px;
  width: 100%;
  line-height: 300px;
  color: blue;
}

#Titulo{
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 70px;
}

.vista{
  display: grid;
  align-items: center;
}

aside{
  float: left;
  width: 35%;
  border-right: 5px solid black;
  margin: 0px;
}

#Termo{
  margin: 0;
  width: 65%;
}
nuevo-termo{
  border: black 5px solid;
  margin-top: 0px;
  text-align: left;
  width: 100%;
  height: 650px;
  line-height: 70px;
  display: grid;
  align-items: center;
  
}

.temperature{
  color: black;
}

#Info h3{
  margin: 15px 20px 10px 13px;
  text-align: left;
}

p{
  margin: 13px;
  line-height: 0px;
}

ol{
  line-height: 35px;
}

#Info{
  margin-top: 20px;
  width: 1100px;
  position: float;
}

#Estado{
  background-color: red;
  margin: 0px;
  padding: 15px;
  width: 60px;
  border-radius: 5px;
  border: none;
}

#btnGuardar {
  margin: 15px;
  text-decoration:none;
  font-weight:200;
  font-size:20px;
  color:#ffffff;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  background-color:#005BBB;
  border: none;
  border-radius: 5px;
}

#btnGuardar:hover{
  background-color: #ccc;
  color: black;
}

.btnConexion{
  margin: 15px;
  text-decoration:none;
  font-weight:200;
  font-size:20px;
  color:#ffffff;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  background-color:#005BBB;
  border: none;
  border-radius: 5px;
}

.btnConexion:hover{
  background-color: #ccc;
  color: black;
}

.botones{
  display: inline-flex;
  align-items: center;
}

input[type="text"]{
  border-radius: 5px;
  padding: 5px;
  border-color:black;
  color: black;
}

input[type="number"]{
  border-radius: 5px;
  padding: 5px;
  border-color:black;
  color: black;
}

footer{
  color: white;
  width: 100%;
  height: 40px;
  background-color: gray;
  line-height: 40px;
  text-align: center;

  margin-top: auto;
  position:fixed;
  left:0px;
  bottom:0px;
}

#temperatura{
  transform-origin: 105px 25px;
  transform: rotate(-90deg);

}

/*
@media (max-width:1100px){
  .main{
      display: list-item;
      align-items: center;
      justify-content: center;
  }
  .vista{
      height: 500px;
      margin: auto;
  }

  p{
      margin-bottom: 80px;
  }
}  
*/

